.checklist {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0 0 0 25px;
    position: relative;
    margin-bottom: 5px;
}

li:before {
    position: absolute;
    left: 5px;
    content: "\2610";
    color: #666;
}

li.checked:before {
    position: absolute;
    left: 5px;
    content: "\2713";
    color: #666;
}