* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.2em;
    font-family: Verdana, Helvetica, Arial;
}

li {
    list-style-position: inside;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

section p {
    margin: 20px 0;
}

/* START CONTAINER  */
.container {
    margin: 0 auto;
    width: 95%;
}

/* END CONTAINER  */

/*  START HEADER  */
header > p > img {
    display: block;
    margin: 0 auto;
}

/*  END HEADER  */


/*  START SPECIALS  */
#specials {
    float: right;
    box-sizing: border-box;
    width: 30%;
    border: 3px solid #007e7e;
    padding: 15px;
    text-align: center;
}

#specials h1 {
    color: #000000;
}

#specials h2:nth-of-type(1) {
    color: #4D1A75;
}

#specials h2:nth-of-type(2) {
    color: #a61334;
}

#specials h2:nth-of-type(3) {
    color: #7c7916;
}

#specials a:hover {
    color: #8f5427;
}

/*  END SPECIALS  */

/* START MAIN SECTION  */
#main {
    float: left;
    width: 70%;
}

#main #guarantee {
    padding: 20px;
    margin: 30px;
    color: #444444;
    background-color: #a7cece;
    border: 3px dotted white;
}

#main #guarantee img {
    width: 70px;
    float: left;
}

/*  END MAIN SECTION  */


/* START FOOTER  */
footer {
    width: 100%;
    text-align: center;
    font-size: 0.5em;
    overflow: hidden;
}

/* END FOOTER  */


/* START DECLARES  */
.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* END DECLARES  */
