* {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    line-height: 100px;
}

.area {
    /*margin-right: -10px;*/
    width: 100px;
    height: 100px;
    background: red;
    display: inline-block;
}

.tall {
    height: 150px;
}

.short {
    height: 50px;
}

.floaty {
    float: left;
    background: green;
}

.break {
    clear: both;
    background: blue;
}

