* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    height: 200px;
    width: 30%;
    float: left;
    box-sizing: border-box;
}

section {
    padding: 10px;
    background-color: red;
    height: 200px;
    width: 70%;
    float: left;
    box-sizing: border-box;
}

footer {
    width: 100%;
    clear: both;
    background-color: green;
    text-align: center;
    height: 100px;
}

#container {
    padding: 0 10px;
}

.green-text {
    color: green;
}

.logo {
    max-width: 180px;
    display: block;
    margin: 0 auto;
}

